[submodule "resume-lm"]
path = external/resume-lm
url = https://github.com/prlenterprises-ui/resume-lm.git

[submodule "llm-council"]
path = external/llm-council
url = https://github.com/prlenterprises-ui/llm-council.git    

[submodule "Resume-Matcher"]
path = external/Resume-Matcher
url = https://github.com/prlenterprises-ui/Resume-Matcher.git

[submodule "jobbernaut-tailor"]
path = external/jobbernaut-tailor
url = https://github.com/prlenterprises-ui/jobbernaut-tailor.git

[submodule "Jobs_Applier_AI_Agent_AIHawk"]
path = external/Jobs_Applier_AI_Agent_AIHawk
url = https://github.com/prlenterprises-ui/Jobs_Applier_AI_Agent_AIHawk.git
